# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
myenv

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
postgres_data/